<header>
  <div class="brand">
    <a routerLink="/">
      <img width="150" src="https://www.brandbucket.com/sites/default/files/logo_uploads/396729/large_eclothing.png" alt="propeta">
    </a>
    <div class="mobile-menu">
      <div class="mobile-menu cart">
        <span class="productsCount" *ngIf="productsCount > 0">{{productsCount}}</span>
        <button class="button icon" routerLink="/properties/cart">
          <img width="20" src="../.././../../assets/icons/shopping_cart_black.SVG" alt="cart">
        </button>
      </div>
      <div class="mobile-menu cart">
        <button class="button icon">
          <img width="20" src="../.././../../assets/icons/person.svg" alt="account">
        </button>
      </div>

    </div>
  </div>
  <div class="menu" [class.d-block]="isOpen">
    <ul class="menu_items">
      <li class="menu_option">
        <div class="desktop-menu cart">
          <button class="button icon" routerLink="/">
            <img width="20" src="../.././../../assets/icons/home.svg" alt="home">
          </button>
        </div>
      </li>
      <li class="menu_option">
        <div class="desktop-menu cart">
          <span class="productsCount" *ngIf="productsCount > 0">{{productsCount}}</span>
          <button class="button icon" routerLink="/properties/cart">
            <img width="20" src="../.././../../assets/icons/shopping_cart_black.SVG" alt="cart">
          </button>
        </div>
      </li>
      <li class="menu_option">
        <div class="desktop-menu cart">
          <button class="button icon">
            <img width="20" src="../.././../../assets/icons/person.svg" alt="account">
          </button>
        </div>
      </li>
      <!-- More Options menu Web -->
    </ul>
  </div>
</header>
