<header>
  <div class="brand">
    <a routerLink="/">
      <img width="200" src="https://www.brandbucket.com/sites/default/files/logo_uploads/396729/large_eclothing.png" alt="propeta">
    </a>
    <div class="mobile-menu">
      <div class="mobile-menu cart">
        <span class="productsCount" *ngIf="productsCount > 0">{{productsCount}}</span>
        <button class="button icon" routerLink="/properties/cart">
          <img width="20" src="../.././../../assets/icons/shopping_cart_black.SVG" alt="cart">
        </button>
      </div>
      <button class="button menu_button" (click)="onClick()">
        <div class="menu_button-icon"></div>
      </button>

    </div>
  </div>
  <div class="menu" [class.d-block]="isOpen">
    <ul class="menu_items">
      <li class="menu_option">
        <div class="desktop-menu cart">
          <span class="productsCount" *ngIf="productsCount > 0">{{productsCount}}</span>
          <button class="button icon" routerLink="/properties/cart">
            <img width="20" src="../.././../../assets/icons/shopping_cart_black.SVG" alt="cart">
          </button>
        </div>
      </li>
      <li class="menu_option">
        <a href="#">HOME</a>
      </li>
      <li class="menu_option">
        <a href="#">BLOG</a>
      </li>
      <li class="menu_option">
        <a href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</header>
