$primary-color: #AB1E39;
$secondary-color: dimgray;
$danger-color:#da3d3d;
$orange-color:#F9A825;
$dymgray-color: dimgray;
$white-color: #FFF;
$black-color: #000;
$white-color: white;
$dark-gray-color: #dbdbdb;
$gray-color:#F9F9F9;
$border-radius-sm:5px;

.mt-4 {
  margin-top: 2.5em;
}
