<app-header></app-header>
<div class="hero">
  <div class="overlay"></div>
  <h1>Find Your <span class="orange-color">Perfect Property</span></h1>
  <div class="form-group-inline">
    <input type="text" placeholder="Search Location">
    <select name="" id="">
      <option value="">Type</option>
    </select>
    <select name="" id="">
      <option value="">Type</option>
    </select>
    <button type="button" class="button sm contained" [disabled]="disabled">Search</button>
  </div>
</div>
<div class="properties">
  <h2>Top Selling</h2>
  <app-properties-list></app-properties-list>
</div>
<div class="properties">
  <h2>Latest Projects</h2>
  <app-properties-list></app-properties-list>
</div>

<app-footer></app-footer>
