@import '../sass/variables.scss';

:host {
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &>h1{
    align-self: center;
    color: $white-color;
    z-index: 1;

    &>span.orange-color{
      color: $orange-color;
    }
  }
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  background-color: $black-color;
}

.form-group-inline {
  position: absolute;
  width: 60%;
  bottom: 10%;
  display: flex;
  padding: 15px;
  background-color: $white-color;
  margin: 20px 0;
}

@media screen and (max-width: 1024px) {
  .form-group-inline {
    flex-direction: column;
    width: 80%;
  }

  .hero  {
    &> h1 {
      align-self: flex-start;
      margin: 90px 20px 0 20px;
    }
  }
}


// properties



.properties {
  display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 20px auto;

    &>h2{
      text-align: center;
      color: $dymgray-color;
    }
}



@media screen and(max-width:1024px){
  .properties {
    padding: 0 16px;
  }
}

//
.overlay-conatainer{
  opacity: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  bottom: 0;
}


.overlay-wrapper{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  z-index: 1000;
  transition: all ease-out .5s;

}

.show {
  opacity: 1;
  animation: fadeIn 1s;
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}


