<div class="container">
  <div class="property-detail">
    <div class="property-detail-info">
      <div class="detail-info-header">
      <div class="detail-info-image">
        <div class="info-email-url">
          <img src="https://www.propertyok.com/_next/image?url=https%3A%2F%2Fpropok-prod-images.s3.ap-south-1.amazonaws.com%2FresizeImages%2FpropertyImages%2Fproperty-image-500x500%2F15300605233169image&w=1920&q=75" alt="product">
        </div>
        <div class="info-email-carrousel">
          <ul>
            <li>
              <img src="https://www.propertyok.com/_next/image?url=https%3A%2F%2Fpropok-prod-images.s3.ap-south-1.amazonaws.com%2FresizeImages%2FpropertyImages%2Fproperty-image-500x500%2F15300605233169image&w=1920&q=75" alt="product">
            </li>
            <li>
              <img src="https://www.propertyok.com/_next/image?url=https%3A%2F%2Fpropok-prod-images.s3.ap-south-1.amazonaws.com%2FresizeImages%2FpropertyImages%2Fproperty-image-500x500%2F15300605233169image&w=1920&q=75" alt="product">
            </li>
            <li>
              <img src="https://www.propertyok.com/_next/image?url=https%3A%2F%2Fpropok-prod-images.s3.ap-south-1.amazonaws.com%2FresizeImages%2FpropertyImages%2Fproperty-image-500x500%2F15300605233169image&w=1920&q=75" alt="product">
            </li>
            <li>
              <img src="https://www.propertyok.com/_next/image?url=https%3A%2F%2Fpropok-prod-images.s3.ap-south-1.amazonaws.com%2FresizeImages%2FpropertyImages%2Fproperty-image-500x500%2F15300605233169image&w=1920&q=75" alt="product">
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="product-detail">
    <div class="product-detail-name">
      <h1>Rasdter</h1>
      <p>Description</p>
    </div>
    <div class="product-detail-size">
      <div class="d-flex align-items-center" >
        <h2>$80</h2>
        <span class="ml-2">$100</span>
      </div>
      <div class="size">
        <p>Size</p>
        <ul class="list-options">
          <li><button class="button text">XS</button></li>
          <li><button class="button text">S</button></li>
          <li><button class="button text">M</button></li>
          <li><button class="button text">L</button></li>
        </ul>
      </div>
      <div class="color">
        <p>Color</p>
        <ul class="list-options">
          <li><button class="button color">Red</button></li>
          <li><button class="button color">Green</button></li>
          <li><button class="button color">Blue</button></li>
          <li><button class="button color">Black</button></li>
        </ul>
      </div>
      <div class="actions">
        <button class="button contained">Add to cart</button>
        <button class="button contained">Whishlist</button>
      </div>
    </div>
  </div>
</div>
