<div class="container">
  <div class="property-detail">
    <div class="property-detail-info">
      <div class="detail-info-header">
      <div class="detail-info-image">
        <div class="info-email-url" *ngIf="product.image">
          <img [src]="product.image" [alt]="product.title">
        </div>
      </div>
    </div>

  </div>
  <div class="product-detail">
    <div class="product-detail-name">
      <h1>{{ product.title }}</h1>
      <p>{{ product.description}}</p>
    </div>
    <div class="product-detail-size">
      <div class="price" >
        <h2 class="product-detail-price">{{ product.price}}</h2>
        <small>/</small>
        <span class="product-detail-discount">{{ product.price + (product.price * 20/100) }}</span>
      </div>
      <div class="size">
        <p>Size</p>
        <ul class="list-options">
          <li><button class="button text">XS</button></li>
          <li><button class="button text">S</button></li>
          <li><button class="button text">M</button></li>
          <li><button class="button text">L</button></li>
        </ul>
      </div>
      <div class="color">
        <p>Color</p>
        <ul class="list-options">
          <li><button class="button-color pink"></button></li>
          <li><button class="button-color cian"></button></li>
          <li><button class="button-color black"></button></li>
          <li><button class="button-color purple"></button></li>
        </ul>
      </div>
      <div class="actions">
        <button class="button contained" (click)="addToCart()">Add to cart</button>
        <button class="button text ml-2">Whishlist</button>
      </div>
    </div>
  </div>
</div>
