@import '../../.././../sass/variables.scss';
.container {
  max-width: 1200px;
    margin: 0 auto;
}

.property-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
  gap: 20px;
}

.info-email-url {
  max-height: 330px;
}

.info-email-url img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.detail-info-image {
  display: flex;
}

.info-email-carrousel{

}

.info-email-carrousel ul li{
  list-style: none;
  width: 76px;
}

.info-email-carrousel ul {
  padding: 0 16px;
  margin:0;
  max-height: 335px;
  overflow: auto;
}

.info-email-carrousel ul li img{
  width: 100%;
  object-fit: cover;
}

::-webkit-scrollbar {
  display: none;
  }

  // Product detail
  .product-detail-name {
    &>h1{
      margin: 0;
    }&>p{
      margin: 8px 0;
    }
  }

  .product-detail-size .d-flex {
    &>h2 {
      margin: 0;
    }
  }

  .size {
    &>p {
      margin-bottom: 0;
    }
  }

  .list-options {
    margin: 5px 0;
    padding: 0 10px;
    display: flex;
    &>li{
      list-style: none;
      margin: 0 5px;
    }
  }

  .color{
    &>p {
      margin: 0
    }
  }

  .actions  {
    margin-top: 20px;
    &>{
      margin: 0 10px;
    }
  }

  .option-shipping {
    display: flex;
    margin-top: 10px;
  }

  .product-detail-price {
    color: $black-color;
  }
  .option-shipping-item {
    margin-left: 8px
  }

  .product-detail-discount {
    font-size: 10px;
  }

  @media screen and(max-width:1024px){
    .info-email-url {
      height: initial;
    }
  }

  @media screen and(max-width:764px){
    .info-email-url {
      height: 300px
    }
    .property-detail{
      display: block;
    }
    .detail-info-image {
      flex-direction: column;
    }

    .info-email-carrousel ul {
      display: flex;
      padding: 16px;
      flex-wrap: nowrap;
      background: $gray-color;
    }

    .info-email-carrousel ul li{
      margin: 0 8px;
    }

    .product-detail {
      padding: 0 16px;
    }

    .product-detail-size {
      display: flex;
    flex-wrap: wrap;
    }

    .size {
      margin-left: auto;
      text-align: center;
    }

    .actions{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
