@import './sass/variables.scss';
@import './sass/buttons';
@import './sass/inputs';
@import './sass/selects';

html, body { height: 100%; }
body {
  background-color: $gray-color;
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}

.ml-2 {
  margin-left: 12px;
}
